<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">

        <!-- ========== SPLASH SCREEN (LAUNCHER - Dibuka Pertama Kali) ========== -->
        <activity
            android:name=".ActivitySplash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ========== AUTH ACTIVITIES ========== -->
        <activity
            android:name=".Login"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SingUp"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LupaSandi"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".KodeVerifikasi"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ResetPass"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- ========== MAIN APP ACTIVITIES ========== -->
        <activity
            android:name=".Dashboard"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- ========== FEATURE ACTIVITIES ========== -->
        <activity
            android:name=".DetailTanaman"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ListPanduan"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TambahPerangkat"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- ========== PROFILE & SETTINGS ACTIVITIES ========== -->
        <activity
            android:name=".Profile"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".EditAkun"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PrivasiAkses"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LogAktivitas"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Bantuan"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Tentang"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>